/* 
.section-break {
  margin:50px;
  height:500px;
} */

.section-heading {
  text-align: center;
  color: #102c4e;
  margin-top: 150px;
  margin-bottom: 70px;
  font-size: 35px;
}

.column-1 {
  width: 90%;
  height: auto;
  padding-top: 70px;
  padding-left: 70px;
  padding-bottom: 70px;
  margin: auto;
  margin-bottom: 50px;
  margin-top: 75px;
  background-color: white;
}

.table-style {
  width: 100%;
  border-spacing: 24px;
}
